{% extends "layout.html" %}

{% block content %}
<h1 class="error not-found">404</h1>

<p class="not-found">The page you've requested doesn't exist.</p>
<p class="not-found">Pardon!</p>

{% endblock %}