{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {# placeholder takes field from forms name, or title name it as you wish #}
        {{ field(placeholder=field.label.text) }}
    </div>
{% endmacro %}